
body {
    background-color: ghostwhite;
}

#tab {
    border: 1px black solid;
    padding: 5px;
    margin-top: 5px;
    text-overflow-mode: wrap;
    column-width: 800px;
    background-color: inherit;
    margin-left:33%;
    margin-right:33%;
}

.good {
    background-color: palegreen;
}
.middle {
    background-color: oldlace;
}
.bad {
    background-color: #DD0000;
}

td.Title {
    font-style: italic;
    border:0;
    text-align: center;
}
td {
    border: 1px black solid;
    width: 40%;
}
input {
    border: 0;
    width: 90%;
    background-color: inherit;
}
button {
    background-color: red;
    border-radius: 50%;
    border: 2px black;
    width: 70px;
    height: 70px;
}
.end {
    margin-right: 20px;
    margin-top: auto;
}
.total {
    margin-left: 30px;
}
button {
    horiz-align: center;
    margin-left: 25%;
}
#pageTitle {
    horiz-align: center;
    font-size: larger;
    font-weight: bold;
    padding-left: 40%;
}
